<!-- templates/signup.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Add any additional CSS styles or links here -->
</head>
<body>

    <header>
        <h1>Sign Up</h1>
        <!-- Add any header content here -->
    </header>

    <section>
        <form method="post" action="{{ url_for('signup') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <br>
            <br>
            <label for="is_admin">Sign up as Admin:</label>
            <input type="checkbox" id="is_admin" name="is_admin">
            <br>
            <button type="submit">Sign Up</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        <a href="#">Contact Us</a>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </footer>

</body>
</html>
